
.container {
    padding: 20px 0;

    .title {
        padding: 0 20px;
        font-weight: bold;
        font-size: 22px;
    }
}

.featuresContainer {
    display: flex;
    flex-flow: row;
    margin: 10px;
    flex-wrap: wrap;
    color: lightgray !important;

    .chipContainer {
        cursor: info;
        display: flex;
        align-items: center;
        margin: 5px;
        min-width: 180px;
        height: 40px;
        padding: 0 10px;
    }
}


